/* .Lokys {

} */


.HeaderTextContainer {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

#root {
  text-align: center;
}

.HeaderTexts h1 {
  font-size: 14vmin;
  color: white;
  line-height: 0.8;
  white-space: nowrap;
  text-transform: uppercase;
}

.HeaderTexts p {
  color: rgba(217, 217, 217, 0.75);
  font-size: 1.5em;
}

