.HeaderTextContainer {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

#root {
  text-align: center;
}

.HeaderTexts h1 {
  font-size: 13vmin;
  color: white;
  line-height: 1.5;
  white-space: nowrap;
  text-transform: uppercase;
  transform: translateX(-50%);
  animation: slideUp 1s forwards;
}

@keyframes slideUp {
  from {
      transform: translateY(30%);
  }
  to {
      transform: translateY(0);
  }
}

.HeaderTexts p {
  color: rgba(217, 217, 217, 0.75);
  font-size: 1.5em;
  animation: slideUp 1s forwards;
}

