.Navbar{
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
}

.navMain{
    font-size: 1.3em;
    font-weight: bold;
}

.navLinks {
    padding-inline: 1.5rem;
}


@media only screen and (max-width: 990px) {
    .navLinks {
        padding: 1rem;
    }
}