body {
    margin: 0;
}

.Navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}
  
.Navbar li {
    float: left;
}
  
.Navbar li a {
    background-color: rgba(0, 0, 0, 0.75);
    display: block;
    color: white;
    text-align: center;
    padding: 0.9rem 1rem;
    text-decoration: none;
}
  
.Navbar li a:hover {
    background-color: #111;
}
  

