.FirstSectionContainer {
    display: flex;
    position: relative;
}

.FirstFirstSectionCategory,
.SecondFirstSectionCategory {
    position: relative;
    flex: 1;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    background-color: white;
}

.FirstFirstSectionCategory img {
    width: 120%;
    display: block;
    object-fit: cover;
    height: 30rem;
    margin: 0 -10%;
    position: relative;
    top: -6rem;
    max-width: none;
}


.SecondFirstSectionCategory img {
    width: 100%;
    display: block;
    object-fit: cover;
    height: 43rem;
}

.FirstFirstSectionCategory p {
    position: absolute;
    top: 80%;
    left: 50%;
    width: 75%;
    transform: translate(-50%, -50%);
    color: rgba(69, 67, 50, 1);
    font-size: 1.2rem;
    font-weight: 500;
}

.FirstFirstSectionCategory h2 {
    color: rgba(69, 67, 50, 1);
    text-transform: uppercase;
    font-size: 2rem;
    padding-top:  3rem;
}

.FirstFirstSectionCategory h3 {
    color: rgba(69, 67, 50, 0.7);
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
    padding-top: -11rem;
}


.DescriptionContainer {
    position: absolute;
    background-color: rgba(69, 67, 50, 1);
    width: 50%;
    top: 55%;
    margin-left: 5rem;
    padding: 0rem 1rem 2rem 1.5rem;
    border-radius: 0.2rem;
}


.SecondFirstSectionCategory p,
.SecondFirstSectionCategory h2,
.SecondFirstSectionCategory h3 {
    margin-top: 0.8rem;
    text-align: left;
}

.SecondFirstSectionCategory p {
    color: rgba(255, 255, 255, 0.75);
    font-weight: 400;
    font-size: 1.1rem;
    word-spacing: 0.1rem;
    width: 95%;
}

.SecondFirstSectionCategory h2 {
    text-transform: uppercase;
    font-size: 1.6rem;
    padding: 0 0 0 1rem;
    font-weight: 600;
    color: white;
}

.SecondFirstSectionCategory h3 {
    color: rgba(255, 255, 255, 0.75);
    text-transform: uppercase;
    font-size: 1rem;
    margin-top: -1rem;
    border-bottom: 0.2rem solid ;
    width: 9rem;
}