.FirstSectionContainer {
    display: flex;
    position: relative;
    background-color: white;
}

.FirstFirstSectionCategory,
.SecondFirstSectionCategory {
    position: relative;
    flex: 1;
    border-top: 3px solid black;
}

.FirstFirstSectionCategory img {
    width: 100%;
    display: block;
    object-fit: cover;
    height: 37rem;
    margin: -5rem auto 0 auto; /* Center the image horizontally and move it up by 5rem */
    max-width: none;
}



.SecondFirstSectionCategory img {
    width: 100%;
    display: block;
    object-fit: cover;
    height: 45rem;
}

.FirstFirstSectionCategory p {
    position: absolute;
    top: 80%;
    left: 50%;
    width: 75%;
    transform: translate(-50%, -50%);
    color: rgba(69, 67, 50, 1);
    font-size: 1.2rem;
    font-weight: 500;
}

.FirstFirstSectionCategory h2 {
    color: rgba(69, 67, 50, 1);
    text-transform: uppercase;
    font-size: 2rem;
    padding-top:  3rem;
}

.FirstFirstSectionCategory h3 {
    color: rgba(69, 67, 50, 0.7);
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
    padding-top: -11rem;
}


.DescriptionContainer {
    position: absolute;
    background-color: rgba(69, 67, 50, 1);
    width: 63%;
    top: 55%;
    margin: 0 0 0 3rem;
    padding: 0rem 1rem 2rem 1.5rem;
    border-radius: 0.5rem;
}


.SecondFirstSectionCategory p,
.SecondFirstSectionCategory h2,
.SecondFirstSectionCategory h3 {
    margin-top: 0.8rem;
    text-align: left;
}

.SecondFirstSectionCategory p {
    color: rgba(255, 255, 255, 0.75);
    font-weight: 400;
    font-size: 1.1rem;
    word-spacing: 0.1rem;
    width: 95%;
}

.SecondFirstSectionCategory h2 {
    text-transform: uppercase;
    font-size: 2rem;
    padding: 0 0 0 1rem;
    font-weight: 600;
    color: white;
}

.SecondFirstSectionCategory h3 {
    color: rgba(255, 255, 255, 0.80);
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-top: -1.5rem;
    border-bottom: 0.2rem solid ;
    width: 13rem;
    font-weight: 400;
}

@media only screen and (max-width: 1200px) {
    .SecondFirstSectionCategory h2 {
        text-transform: uppercase;
        font-size: 1.5rem;
        padding: 0 0 0 1rem;
        font-weight: 600;
        color: white;
    }
    
    .SecondFirstSectionCategory h3 {
        color: rgba(255, 255, 255, 0.80);
        text-transform: uppercase;
        font-size: 1.2rem;
        margin-top: -1.2rem;
        border-bottom: 0.2rem solid ;
        width: 13rem;
        font-weight: 400;
    }
}


@media only screen and (max-width: 600px) {
    .SecondFirstSectionCategory h2 {
        text-transform: uppercase;
        font-size: 1.5rem;
        padding: 0 0 0 1rem;
        font-weight: 600;
        color: white;
    }
    
    .SecondFirstSectionCategory h3 {
        color: rgba(255, 255, 255, 0.80);
        text-transform: uppercase;
        font-size: 1.2rem;
        margin-top: -1.2rem;
        border-bottom: 0.2rem solid ;
        width: 13rem;
        font-weight: 400;
    }
}


@media only screen and (max-width: 1100px) {
    .FirstSectionContainer {
        display:block;
        position: relative;
        background-color: white;
    }    
}