.regionFilter{
    padding: 2rem;
}

.regionSelect {
    margin: 0.5rem;
    padding: 0.5rem;
    width: 22rem;
    background-color: rgba(0, 0, 0, 0.50) !important;
    border: 1px solid rgba(0, 0, 0, 0.25) !important;
}

.regionSelect:hover {
    background-color: rgba(0, 0, 0, 0.75) !important;
    border: 1px solid rgba(0, 0, 0, 0.25) !important;
}

.regionSelect:active {
    background-color: rgba(0, 0, 0, 0.75) !important;
    border: 1px solid rgba(0, 0, 0, 0.25) !important;
    color: white !important;
}

.regionMenu{
    width: 22rem;
    color: white !important;
    background-color: rgba(0, 0, 0, 0.75) !important;
    border: 1px solid rgba(0, 0, 0, 0.25) !important;
}

.regionMenuChoices:hover{
    background-color: rgba(0, 0, 0, 0.75);
}

.animalButtons{
    padding: 0.5rem;
    color: rgba(0, 0, 0, 0.75) !important;
}

.individualAnimalButtons{
    padding: 0.5rem;
    width: 6.5rem;
    background-color: rgba(0, 0, 0, 0.50) !important;
}

.individualAnimalButtons:hover{
    background-color: rgba(0, 0, 0, 0.75) !important;
}

.individualAnimalButtons:active{
    background-color: rgba(0, 0, 0, 0.75) !important;
}

.animalClickable {
    cursor: pointer;
    position: relative;
    float: left;
    width: 100%;
}

.animalClickable img {
    width: 80%;
    height: auto;
}

.animalClickable h2 {
    text-align: left;
    padding-left: 3.5rem;
    color: rgba(91, 78, 58, 1);
    position: relative;
    width: 12rem;
    text-transform: uppercase;
}

.animalClickable h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 5rem); 
    border-bottom: 4px solid rgba(91, 78, 58, 1);
    margin-left: 3.7rem;
}


.bookItemAlign {
    display: flex;
    align-items: baseline;
}

.bookItemAlign p {
    margin: 0rem 0rem 0rem 3rem; 
}

.animalClickable.expanded {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    height: 70vh;    
    background-color: rgba(255, 239, 215, 1);
    border-radius: 5px;
    z-index: 5;
    overflow-y: auto;
}


.animalClickable h3 {
    margin: 1rem 1rem 1rem 15%;
    text-align: left;
    color: rgba(91, 78, 58, 1);
    font-size: 3em;
    /* border: 1px solid black; */
    position: relative;
    width: 15rem;
}


.animalClickable h3::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100%); 
    border-bottom: 4px solid rgba(91, 78, 58, 1);
}

.animalClickable img {
    border-radius: 5px;
}

