.regionFilter{
    padding: 2rem;
}

.regionSelect {
    margin: 0.5rem;
    padding: 0.5rem;
    width: 18rem;
    background-color: rgba(0, 0, 0, 0.50) !important;
    border: 1px solid rgba(0, 0, 0, 0.25) !important;
}

.regionSelect:hover {
    background-color: rgba(0, 0, 0, 0.75) !important;
    border: 1px solid rgba(0, 0, 0, 0.25) !important;
}

.regionSelect:active {
    background-color: rgba(0, 0, 0, 0.75) !important;
    border: 1px solid rgba(0, 0, 0, 0.25) !important;
    color: white !important;
}

.regionMenu{
    width: 18rem;
    color: white !important;
    background-color: rgba(0, 0, 0, 0.75) !important;
    border: 1px solid rgba(0, 0, 0, 0.25) !important;
}

.regionMenuChoices:hover{
    background-color: rgba(0, 0, 0, 0.75);
}

.animalButtons{
    padding: 0.5rem;
    color: rgba(0, 0, 0, 0.75) !important;
}

.individualAnimalButtons{
    padding: 0.5rem;
    width: 6.5rem;
    background-color: rgba(0, 0, 0, 0.50) !important;
}

.individualAnimalButtons:hover{
    background-color: rgba(0, 0, 0, 0.75) !important;
}

.individualAnimalButtons:active{
    background-color: rgba(0, 0, 0, 0.75) !important;
}

.animalClickable {
    cursor: pointer;
    position: relative;
    float: left;
    width: 100%;
    /* height: auto; */
}

.animalClickable img {
    width: 90%;
    /* object-fit:inherit; */
}


.animalClickable h2 {
    font-size: 2em;
    text-align: center;
    color: rgba(91, 78, 58, 1);
    position: relative;
    white-space: nowrap;
}



.bookItemAlign {
    /* display: flex; */
    align-items: baseline;
}

.bookItemAlign p {
    margin: 0rem 0rem 0rem 1rem; 
    font-size: 1em;
}

.animalClickable.expanded {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 70vh;    
    background-color: rgba(255, 239, 215, 1);
    border-radius: 5px;
    z-index: 5;
    overflow-y: auto;
}


.animalClickable h3 {
    width: 100%;
    margin-top: 3rem;
    text-align: center;
    color: rgba(91, 78, 58, 1);
    font-size: 2em;
    white-space: nowrap;
    position: relative;
}



.animalClickable img {
    border-radius: 5px;
}


.Latin {
    text-align: center;
    margin: -0.5rem 0 2rem 0;
}

  
.bookParagraphs{
    text-align: start;
    padding: 3rem;
    color: rgba(91, 78, 58, 1);
}


.bookParagraphs h4{
    font-size: 1.4em;
    font-weight: bolder;
}

.bookParagraphs p{
    font-size: 1em;
}